extends ../layout 

block content 
	section.content-header
		.container-fluid
			.row.mb-2
				.col-sm-6
					h1 #{title}
	section.content
		.container-fluid
			h5.mt-4.mb-2
				| Năm học 2020-2021
			.row
				
				.col-lg-4.col-6
					// small card
					.small-box.bg-info
						.inner
							h3 211
							p Thông tin về tổ nhóm
						.icon
							i.fas.fa-bookmark
						a.small-box-footer(href='/study/groupclass/2020.1')
							| Thông tin
							i.fas.fa-arrow-circle-right
				.col-lg-4.col-6
					// small card
					.small-box.bg-success
						.inner
							h3 212
							p Thông tin về tổ nhóm
						.icon
							i.fas.fa-bookmark
						a.small-box-footer(href='/study/groupclass/2020.2')
							| Thông tin
							i.fas.fa-arrow-circle-right
				.col-lg-4.col-6
					// small card
					.small-box.bg-danger
						.inner
							h3 213
							p Thông tin về tổ nhóm
						.icon
							i.fas.fa-bookmark
						a.small-box-footer(href='/study/groupclass/2020.3')
							| Thông tin 
							i.fas.fa-arrow-circle-right
			
			h5.mt-4.mb-2
				| Năm học 2019-2020
			.row
				
				.col-lg-4.col-6
					// small card
					.small-box.bg-info
						.inner
							h3 191
							p Thông tin về tổ nhóm
						.icon
							i.fas.fa-bookmark
						a.small-box-footer(href='/study/groupclass/2019.1')
							| Chi tiết
							i.fas.fa-arrow-circle-right
				.col-lg-4.col-6
					// small card
					.small-box.bg-success
						.inner
							h3 192
							p Thông tin về tổ nhóm
						.icon
							i.fas.fa-bookmark
						a.small-box-footer(href='/study/groupclass/2019.2')
							| Chi tiết
							i.fas.fa-arrow-circle-right
				.col-lg-4.col-6
					// small card
					.small-box.bg-danger
						.inner
							h3 193
							p Thông tin về tổ nhóm
						.icon
							i.fas.fa-bookmark
						a.small-box-footer(href='/study/groupclass/2019.3')
							| Chi tiết
							i.fas.fa-arrow-circle-right
			
			h5.mt-4.mb-2
				| Năm học 2018-2019
			.row
				
				.col-lg-4.col-6
					.small-box.bg-info
						.inner
							h3 181
							p Thông tin về tổ nhóm
						.icon
							i.fas.fa-bookmark
						a.small-box-footer(href='/study/groupclass/2018.1')
							| Chi tiết
							i.fas.fa-arrow-circle-right
				.col-lg-4.col-6
					// small card
					.small-box.bg-success
						.inner
							h3 182
							p Thông tin về tổ nhóm
						.icon
							i.fas.fa-bookmark
						a.small-box-footer(href='/study/groupclass/2018.2')
							| Chi tiết
							i.fas.fa-arrow-circle-right
				.col-lg-4.col-6
					// small card
					.small-box.bg-danger
						.inner
							h3 183
							p Thông tin về tổ nhóm
						.icon
							i.fas.fa-bookmark
						a.small-box-footer(href='/study/groupclass/2018.3')
							| Chi tiết
							i.fas.fa-arrow-circle-right

//- block script 
//- 	script(src="/javascripts/study/subject.js") 